#Heesang {
    position: absolute;
    top: 80px;
    left: 100px;
    width: 200px;
    height: 300px;
}

#Project {
    position: absolute;
    top: 80px;
    left: 300px;
    width: 200px;
    height: 300px;
}